* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f8f8;
  color: #222;
}
/* Header and navigation grid use */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.logo{
  font-weight: bold;
  font-size: 25px;
}
.logo span{
  color: #ff6b00;
}
.nav{
  display: flex;
  justify-content: flex-end;
  gap:25px;
}
.nav a{
  text-decoration: none;
  color: #222;
  font-size: 16px;
}
/* end of header and navigation */
/* Hero section */
.hero{
  height: 300px;
  background: linear-gradient(135deg, #ffd6a5, #ffb677);
  display: grid;
  place-items: center;
  text-align: center;
}
.hero h1{
  font-size: 42px;
}
.hero button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #ff6b00;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.hero button:hover{
  background-color: #be5204;
}
.products-section{
  display: grid;
  place-items: center;
  padding: 40px;
}
.products-section h2{
  margin-bottom: 20px;
}
.product-grid{
  display: grid;
  gap:20px;
  grid-template-columns: 250px 250px 250px;
}
.product-card{
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-card button {
  padding: 8px 15px;
  border: none;
  background-color: #ff6b00;
  color: white;
  border-radius: 4px;
}
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #222;
  color: #fff;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.social a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

a:link {
  color: blue;
}

h1 {
  position: relative;
}

a:visited {
  color: purple;
}