* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(207, 227, 240);
}
.container form {
  background-color: white;
  padding: 20px;
}
h1 {
  margin: 30px;
  color: rgb(31, 7, 53);
  font-family: bold;
  font-size: 40px;
}
.name-fields {
  display: flex;
}
.field {
  display: flex;
  flex-direction: column;
}
label {
  color: rgb(31, 7, 53);
  font-family: bold;
  font-size: 20px;
}
input[type="text"],
input[type="email"] {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
}

textarea {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
}
button {
  padding: 10px;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  background-color: green;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(5, 71, 5);
}
